body {
    color: auto
}

.navbar-brand {
    font-size: x-large;
}

.nav-link {
    font-size: large;
}

.dropdown-item {
    font-size: large;
}

.container {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: large;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #375A7F;
    color: #fff;
    text-align: center;
}

.jumbotron {
    position: relative;
    text-align: justify;
    font-size: larger;
}

#text {
    font-size-adjust: inherit;
}

.navbar-brand {
    font-size: x-large;
}

.h2 {
    font-size: x-large;
}

.p {
    font-size: larger;
}

.display {
    font-size: xx-large;
}

.display-4 {
    font-size: xx-large;
}


/* @media (min-width: 768px) {
    body>.navbar-transparent {
        box-shadow: none
    }

    body>.navbar-transparent .navbar-nav>.open>a {
        box-shadow: none
    }
} */