body {
  padding: 0px;
  margin: 0px;
}
#multiline,
body,
html {
  position:static;
  height: 580px;
  width: 1500px};
   

.line {
    fill: none;
    stroke-width: 2px;
  }
  
  .green {
    stroke: green;
  }
  
  .blue {
    stroke: blue;
  }
  
  .text {
    font-size: 16px;
    text-anchor: middle;
  }
  
  .total-text {
    fill: green;
  }
  
  .onedrunk-text {
    fill: blue;
  }